@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


body {
    font-family: "Nunito", sans-serif;

}

@theme {
    --color-prime: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
    --shadow-orange: 0px 1px 7px 0px #F67A211F;
    --shadow-testinomials: 0px 4px 15.4px 0px #0000000F;
    --shadow-teamcard: 0px 1px 16px 0px #00000014;
    --shadow-choose: 0px 2px 16.8px 0px #00000014;
    --shadow-card: 0px 4px 14.9px 0px #0000000F;
    --color-gradient2: linear-gradient(88.78deg, rgba(255, 124, 0, 0) -0.86%, #FF7C00 80.81%);
    --color-gradient1: linear-gradient(88.78deg, #FF7C00 -0.86%, rgba(255, 124, 0, 0) 80.81%);
    --shadow-whatpizza: 0px 1px 8.6px 0px #0000001F;


}



.box-prime2 {
    background: var(--color-gradient2);
}

.box-prime1 {
    background: var(--color-gradient1);
}

.bg-prime {
    background: var(--color-prime);
}

.text-prime {
    background: var(--color-prime);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.hover-text-prime:hover {
    background: var(--color-prime);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.nav-active {
    position: relative;
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
}

.after-img::after {
    background-image: url(assets/webp/greysheet.webp);
}

@layer components {
    .my-class {
        @apply left-0
    }
}

/* ✅ Non-active images */
.mySwiper .swiper-slide img {
    border: 4px solid #F9EDE2;

    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 1;

}

/* ✅ Active thumbnail image */
.mySwiper .swiper-slide-thumb-active img {
    border: 4px solid #FBCEA8;
    transform: scale(1.4);
    opacity: 1;

}

/* 
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
    scale: 1.3;
} */


.swiper-slide.swiper-slide-active+div {
    transform: translateY(-18px);
}

.swiper-slide.swiper-slide-active+div+div {
    transform: translateY(-33px);
}

.swiper-slide.swiper-slide-active+div+div+div {
    transform: translateY(-62px);
}

/* Select the previous 1st slide */
.mySwiper:has(.swiper-slide:nth-child(4).swiper-slide-active) .swiper-slide:nth-child(3) {
    transform: translateY(-18px);
}

/* Previous 2nd slide */
.mySwiper:has(.swiper-slide:nth-child(4).swiper-slide-active) .swiper-slide:nth-child(2) {
    transform: translateY(-33px);
}

/* Previous 3rd slide */
.mySwiper:has(.swiper-slide:nth-child(4).swiper-slide-active) .swiper-slide:nth-child(1) {
    transform: translateY(-62px);
}